<html lang="en"> 
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %} Florian Hahn</title>
    

  <meta name="description" content="">
  <meta name="author" content="Florian Hahn">

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
  <div id="container">
    <div id="sidebar">
      <h1>Florian Hahn</h1>
      <div class="contact">
        <ul>
          <li>flo@fhahn.com</li>
          <li><a href="https://github.com/fhahn">github.com/fhahn</a></li>
          <li><a href="https://twitter.com/fdhahn">twitter.com/fdhahn</a></li> 
        </ul>
      </div>
    </div>
 
    <div id="main" role="main">
      <header>
          <ul id="tabmenue">
            <li> 
              <a href="/">Home</a>
            </li>
            <li> 
              <a href="/writing/">Writing</a>
            </li>
          </ul>
      </header>

      <div id="#content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </div> <!--! end of #container -->
</body>
</html>
