#logtitle {
    color:#B9C0CB;
    margin-top: .1em;
    float: right;
}

h1 {
    font-size: 20pt;
    border-bottom:1px solid #DDDDDD;
    color: #2f3845;
}

h2 {
    font-size: 16pt;
    border-bottom:1px solid #DDDDDD;
    color: #2f3845;
}

h3 {
    font-size: 14pt;
    border-bottom:1px solid #DDDDDD;
    color: #2f3845;
}

h4 {
    font-size: 12pt;
    border-bottom:1px solid #DDDDDD;
    color: #2f3845;
 }


#sidebar {
  float: left;
  width: 200px;
  height: 100%;
  text-align: right;
  padding-right: 20px;
  margin-top: 85px
}

#sidebar h1 {
    font-size: 18pt;
    border-bottom: 0px;
    margin-top: 0px;
}

#main {
  float: right;
  width: 600px;
  margin-right: 200px;

}

#container{
    width: 1050px;
    background-repeat: repeat-x;
    margin: 0;
    text-align: left;
    font-family: Georgia;
    font-size: 14px; 
    text-decoration: none;
    line-height: 24px;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px; 
    left: 0px;
    right: 0px;
}

footer { 
    overflow:hidden;
    margin-top: 10px;
    border-top:1px solid #DDDDDD;
}

header {
    margin-top: 20px;
    padding: 10px;
    overflow:hidden;
    /*
    background: #f8f8f8 url("../images/header.png") repeat-x;
    background-position : center; 
    color:#B9C0CB;
    height: 20px; 

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    */
    border-bottom: 1px solid #DDDDDD;
}

.contact{ 
  float: left;
  margin-right: -2em;
  font-size: 0.9em;
  color: #666666;
  line-height: 1.5em;
  width: 100%;
}

.contact li{
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

a, a:visited {
    color: #20633b;
    text-decoration: none;
}

li { margin-bottom: 3px; }


#tabmenue{
    margin: 0px auto;
    font-size: 13pt;
}

#tabmenue li{
    position: relative;
    bottom:0px;
    color:#B9C0CB;
    margin: 0;
    padding: 0;
    display: inline;
}

#tabmenue a:link, #tabmenue a:visited{
    float: left;
    color: black;
    padding: 3px 1em;
    border-bottom: 0;
    line-height: 14px;
    font-weight: bold;
    margin: 0 10px 4px 10px;
}

#tabmenue a:link#current, #tabmenue a:visited#current, #tabmenue a:hover{
    /*border-bottom:1px solid #DDDDDD;*/
    padding-bottom: 2px;
    color:#B9C0CB;
    /*background-color: #B9C0CB; */
}

.twitter-share-button{
  float: left;
  margin-right: 10px;
}

.post-footer {
    background-color: #F0EDDE;
    border-radius: 5px 5px 5px 5px;
}
