h1 {
    font-size: 1.8em;
    border-bottom:1px solid #DDDDDD;
    color: #2f3845;
}

#container{
    width: 600px;
    text-align: left;
    font-family: Georgia;
    font-size: 16px; 
    text-decoration: none;
    line-height: 26px;
    margin: auto;
}

#footer { 
    margin-top: 1em;
    padding-top: 0.5em;
    border-top:1px solid #DDDDDD;
}

#content {
    text-align: justify;
}

#header {
    margin-top: 20px;
    margin-bottom: 3em;
}

#header a, #header a:visited {
    color: black;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
}

#header a:hover {
    color: #aaa;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
}

.oss-box-left { 
  float: left;
  margin-right: 0.5em;
  width: 70px;
}

.oss-row { 
  margin-bottom: 0.5em;
}

.contact{ 
  float: left;
  margin-right: 1.5em;
  font-size: 0.9em;
  color: #666666;
  line-height: 1.5em;
}

a:hover {
    text-decoration: underline;
}
a, a:visited {
    color: #20633b;
    text-decoration: none;
}
