<html lang="en"> 

<head>
    <meta charset="utf-8">

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

    <meta name="author" content="Florian Hahn">

    {% if page.description %}
        <meta name="description" content="{{page.description}}" />
    {% else %}
        <meta name="description" content="{{site.description}}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
    <div id="container">
        <div id="header">
            <a class="title" href="/">Florian Hahn</a>
        </div>

        <div id="content">
            {{ content }}
        </div>

        <div id="footer"> 
            <div class="contact">
                  Florian Hahn <br/>
                  Software Engineer @ Arm<br/>
                  flo@fhahn.com<br/>
            </div>
            <div class="contact">
                  <a href="https://github.com/fhahn">github.com/fhahn</a> <br/>
                  <a href="https://twitter.com/fdhahn">twitter.com/fdhahn</a> <br/>
                  <a href="https://www.linkedin.com/in/flohahn">Linkedin</a> <br/>
            </div>
        </div>
    </div> <!--! end of #container -->
</body>

</html>
